// Colors
// ------
$background: #1d1f21;
$current-line: #282a2e;
$selection: #373b41;
$foreground: #c5c8c6;
$comment: #969896;
$red: #cc6666;
$orange: #de935f;
$yellow: #f0c674;
$green: #b5bd68;
$aqua: #8abeb7;
$blue: #81a2be;
$purple: #b294bb;
$white: #ffffff;
$black: #000000;
$mine_shaft: #3C3C3C;
$shark: #252526;

// General
// -------
.client_container {
  background: $background;
  color: $foreground;
  h1,
  h2,
  h3,
  h4 {
    color: $foreground;
  }
  a {
    color: $blue;
    &:link,
    &:visited {
      color: $blue;
    }
    &:active,
    &:focus,
    &:hover {
      color: lighten($color: $blue, $amount: 15%);
    }
  }
  .uneditable-input,
  input[type=text],
  input[type=password],
  input[type=datetime],
  input[type=datetime-local],
  input[type=date],
  input[type=month],
  input[type=time],
  input[type=week],
  input[type=number],
  input[type=email],
  input[type=tel],
  input[type=color],
  input[type=search],
  textarea {
    background-color: $selection;
  }
  code {
    color: $red;
    background-color: $current-line;
    border: 1px solid $selection;
  }
  pre {
    color: $foreground;
    background: $current-line;
  }
}

// Channel Bar
// -----------
.client_channels_list_container {
  background: $background;
}

.messages_header,
.channel_header_icon,
.channel_title .channel_name {
  color: $foreground;
}

// Team menu
#team_menu,
#team_menu_overlay,
#col_channels_overlay,
body:not(.loading) #team_menu:hover,
body:not(.loading) #team_menu.active {
  background: $mine_shaft;
  color: $foreground;
}

#team_menu {
  border-bottom: 1px solid $mine_shaft;
}

body:not(.loading) #team_menu:hover,
body:not(.loading) #team_menu.active {
  border-bottom: 1px solid $mine_shaft;
}

#team_menu:before,
#team_menu .notifications_menu_btn,
#team_menu .team_name_caret,
#team_menu_user_name {
  color: $foreground !important;
}

// Button select
.c-input_select {
  background: $selection;
}

// Panel messages
.p-message_pane__foreword__description,
.p-message_pane__limited_history_alert {
  color: $foreground;
}
.p-message_pane .c-message_list.c-virtual_list--scrollbar>.c-scrollbar__hider {
  background: rgba(0, 0, 0, 0);
}

// Messages
// --------
// Header
.channel_header {
  background: $mine_shaft;
  color: $foreground;
}

.c-message_list__day_divider__label__pill {
  background: $current-line;
}

.c-message_list__day_divider__label {
  color: $foreground;
}

.c-message_list__day_divider__line {
  border-top: 1px solid $current-line;
}

// Presence
.presence {
  color: $foreground;
  &.active {
    color: $green;
  }
}

#presence.active:before {
  color: $green;
}

.p-channel_sidebar__channel--im .c-presence--active,
.p-channel_sidebar__channel--im-slackbot:before {
  color: $green !important;
}

// Header separator
.p-message_pane .c-message_list:not(.c-virtual_list--scrollbar):before,
.p-message_pane .c-message_list.c-virtual_list--scrollbar>.c-scrollbar__hider:before {
  background: $mine_shaft;
  border-bottom: 1px solid $mine_shaft;
}

// Top border in new messages
.p-message_pane .p-message_pane__top_banners:not(:empty)+div .c-message_list:not(.c-virtual_list--scrollbar):before,
.p-message_pane .p-message_pane__top_banners:not(:empty)+div .c-message_list.c-virtual_list--scrollbar>.c-scrollbar__hider:before {
  box-shadow: 0 32px $background;
  border-bottom: $background;
}

// Search input
.search_form,
.ql-container.texty_single_line_input {
  background: $current-line;
  color: $foreground;
}

.ql-placeholder {
  color: $foreground;
}

// Add to topic button
#edit_topic_inner:not(.unable_to_post):before {
  background: $selection;
  border: 1px solid $current-line;
}

.client_container #edit_topic_trigger {
  color: $blue;
  &:hover,
  &:focus {
    color: lighten($color: $blue, $amount: 15%)
  }
}

// Heaer buttons
.channel_header_info button {
  color: $foreground;
}

.channel_header .blue_on_hover:hover {
  color: $blue;
}

.c-message__body,
.c-message_attachment__footer,
.c-message:hover .c-message__file_meta {
  color: $foreground;
}

.c-message_attachment,
.c-message__file_meta {
  color: $comment;
}

.c-message:hover .c-message_attachment__select {
  border: 1px solid $comment;
}

.client_container .c-message--light .c-message__sender .c-message__sender_link {
  color: $purple;
  &:hover {
    color: darken($purple, 20%);
  }
}

.c-message:hover .c-message_attachment__border {
  background: $background;
}

.c-message_attachment__border {
  background: $selection;
}

.c-message:hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight),
.c-message--hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight),
.c-message--focus:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight) {
  background: rgba($selection, 0.7);
  color: $white;
}

.c-message:hover .c-message__broadcast_preamble_outer,
.c-message:hover .c-message__broadcast_preamble,
.c-message--hover .c-message__broadcast_preamble_outer .c-message--focus .c-message__broadcast_preamble_outer,
.c-message--hover .c-message__broadcast_preamble_outer .c-message--focus .c-message__broadcast_preamble,
.c-message--hover .c-message__broadcast_preamble .c-message--focus .c-message__broadcast_preamble_outer,
.c-message--hover .c-message__broadcast_preamble .c-message--focus .c-message__broadcast_preamble {
  color: $foreground;
}

// Others mention
.client_container .c-member_slug--link {
  background: $shark;
}
.client_container .c-member_slug--link:link,
.client_container .c-member_slug--link:visited {
  color: $green;
}
// My user mention
.client_container .c-mrkdwn__broadcast--mention,
.client_container .c-mrkdwn__broadcast--mention:hover,
.client_container .c-mrkdwn__highlight,
.client_container .c-mrkdwn__mention,
.client_container .c-mrkdwn__mention:hover,
.client_container .c-mrkdwn__subteam--mention,
.client_container .c-mrkdwn__subteam--mention:hover,
.client_container .c-member_slug--mention,
.client_container .c-member_slug--mention:hover {
  color: $yellow;
  background: $shark;
}
.client_container .c-member_slug--mention:link,
.client_container .c-member_slug--mention:visited {
  color: $yellow;
}

.c-message_list__unread_divider__separator {
  border-color: $red;
}

.c-message_list__unread_divider__label {
  color: $background;
  background: $red;
}

.c-member__display-name--large,
.c-member__title--large {
  color: $foreground;
}

.c-mrkdwn__member--link,
.c-mrkdwn__subteam--link,
.client_container .c-message a.c-mrkdwn__member--link,
.client_container .c-message a.c-mrkdwn__subteam--link {
  background: $selection;
  color: $green;
  &:hover,
  &.active,
  &:focus {
    background: $green;
    color: $background;
  }
}

// Username header
.p-message_pane__foreword__description {
  .c-mrkdwn__member--link,
  .c-mrkdwn__subteam--link {
    color: $green !important;
    &:hover,
    &.active,
    &:focus {
      background: $green !important;
      color: $background !important;
    }
  }
}

// Button reactions
.client_container .c-reaction,
.client_container .c-reaction_add {
  background: $selection;
  border: 1px solid $black;
  color: $foreground;
  &:hover,
  &:focus {
    border-color: $current-line;
  }
}

.client_container .c-reaction__count,
.client_container .c-reaction_add__icon {
  color: $foreground;
}

.client_container .c-reaction--reacted .c-reaction__count {
  color: $white;
}

// Ephemeral message
.c-message--ephemeral {
  background: $background;
}

// Message repply bar 
.c-message__reply_bar:hover,
.c-message__reply_bar--focus {
  background-color: $background;
  .c-message__reply_bar_view_thread,
  .c-message__reply_bar_view_thread {
    background-color: $background;
  }
}

.c-message__reply_bar_description,
.c-message__reply_bar:hover .c-message__reply_bar_arrow,
.c-message__reply_bar--focus .c-message__reply_bar_arrow {
  color: $foreground;
}

// Scroll top
.supports_custom_scrollbar:not(.slim_scrollbar) #messages_container:after {
  background: $background;
}

// Footer
#footer {
  background: $mine_shaft;
}

#msg_form {
  margin: 0.5rem 1.25rem 0 1.25rem;
}

// Message Input
#msg_input {
  background: $background;
  color: $foreground;
}
.texty_legacy .ql-placeholder {
  color: $foreground;
}

// Send message button
#primary_file_button {
  background: $background;
  color: $foreground;
  &.active,
  &.focus-ring,
  &:hover,
  &:focus {
    background: $green;
    color: $white;
    border-color: $green;
  }
}

// The anime image
/*
.message_pane_scroller:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 170px;
  height: 300px;
  background: url("https://cdn.rawgit.com/wdiazux/slack-tomorrow-theme/master/background.png") no-repeat bottom right;
  background-size: contain;
}
*/

// Unread messages
.p-message_pane__unread_banner__banner,
.p-message_pane__unread_banner__close--detached {
  background: $aqua;
  color: #fff;
  &:hover {
    background: darken($color: $aqua, $amount: 20%);
  }
}

.p-message_pane__unread_banner__close--detached {
  border-left: 1px solid darken($color: $aqua, $amount: 20%);
}

#client_body:not(.onboarding):before {
  background: $background;
}

// Sidebar
// --------
.p-channel_sidebar {
  background: $shark !important;
  color: $foreground !important;
}

.p-channel_sidebar__channel--selected .p-channel_sidebar__name {
  color: $white !important;
}

.p-channel_sidebar__channel,
.p-channel_sidebar__link,
.p-channel_sidebar__channel:link,
.p-channel_sidebar__link:link,
.p-channel_sidebar__channel:visited,
.p-channel_sidebar__link:visited,
.p-channel_sidebar__channel:hover,
.p-channel_sidebar__link:hover {
  color: $foreground !important;
}

.p-channel_sidebar__channel--selected,
.p-channel_sidebar__channel--selected:hover,
.p-channel_sidebar__link--selected,
.p-channel_sidebar__link--selected:hover {
  background: $purple !important;
  color: $white !important;
  .p-channel_sidebar__badge,
  .p-channel_sidebar__banner--mentions {
    background: $white !important;
    color: $purple !important;
  }
}

.p-channel_sidebar__badge,
.p-channel_sidebar__banner--mentions {
  background: $red !important;
  color: $white !important;
}

// Sidebar selection
.p-channel_sidebar__channel:hover,
.p-channel_sidebar__link:hover,
.p-channel_sidebar__close_container:hover {
  background: $selection !important;
}

// Sidebar - User names colors
.p-channel_sidebar__channel--unread:not(.p-channel_sidebar__channel--muted):not(.p-channel_sidebar__channel--selected) .p-channel_sidebar__name,
.p-channel_sidebar__link--unread:not(.p-channel_sidebar__link--selected) .p-channel_sidebar__name,
.p-channel_sidebar__link--invites:not(.p-channel_sidebar__link--dim) .p-channel_sidebar__name,
.p-channel_sidebar__section_heading_label--clickable:hover,
.p-channel_sidebar__section_heading_label--unreads,
.p-channel_sidebar__quickswitcher:hover {
  color: $comment !important;
}

// Unread messages
.p-channel_sidebar__channel--unread:not(.p-channel_sidebar__channel--muted):not(.p-channel_sidebar__channel--selected) .p-channel_sidebar__name,
.p-channel_sidebar__link--unread:not(.p-channel_sidebar__link--selected) .p-channel_sidebar__name,
.p-channel_sidebar__link--invites:not(.p-channel_sidebar__link--dim) .p-channel_sidebar__name,
.p-channel_sidebar__section_heading_label--clickable:hover,
.p-channel_sidebar__section_heading_label--unreads,
.p-channel_sidebar__quickswitcher:hover {
    color: $white !important;
}

// Scrollbar
.c-scrollbar__bar,
.p-channel_sidebar .c-custom_scrollbar__thumb_vertical,
.p-channel_sidebar .c-scrollbar__bar {
  background: rgba(206, 206, 212, 0.75) !important;
}

// Division
#footer,
#col_messages,
.channel_header,
#client_body:not(.onboarding):before {
  box-shadow: none;
}

#client_body:not(.onboarding):before {
  background: $mine_shaft;
  border-bottom: 1px solid $mine_shaft;
}

// Code snippet
.c-file_container {
  background: $current-line;
}

.c-snippet__code .CodeMirror {
  color: $foreground;
  background: $current-line;
}

.c-snippet__code .CodeMirror-code>div:before {
  background: $current-line;
  color: $foreground;
  border-right: 1px solid darken($color: $current-line, $amount: 20%);
}

// TODO: convert colors to variables
.c-file_container--gradient::after {
  background: -moz-linear-gradient(top, rgba(29, 31, 33, 0) 0%, rgba(29, 31, 33, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(29, 31, 33, 0) 0%, rgba(29, 31, 33, 1) 100%);
  background: linear-gradient(to bottom, rgba(29, 31, 33, 0) 0%, rgba(29, 31, 33, 1) 100%);
}

.cm-s-default {
  .cm-def {
    color: $blue;
  }
  .cm-comment {
    color: $orange;
  }
  .cm-number {
    color: $green;
  }
  .cm-keyword {
    color: $purple;
  }
  .cm-atom {
    color: $aqua;
  }
}

// Slack call
.c-message__call_attachment {
  background: $background;
  border: 1px solid $selection;
  .c-message__call_icon {
    color: $foreground;
  }
}

.c-message__call_info {
  color: $foreground;
}

.c-message__call_sub {
  color: $comment;
}

// Typing text
#snippet_prompt,
#special_formatting_text,
#typing_text {
  color: $foreground;
}

// All threads
#threads_msgs_scroller_div,
ts-thread .thread_messages,
.reply_input_container .ql-container,
ts-thread {
  background: $background;
  color: $foreground;
}

ts-message {
  color: $foreground;
}

ts-thread .thread_messages {
    border: 1px solid $mine_shaft;
}

ts-message.active:not(.standalone):not(.multi_delete_mode):not(.highlight):not(.new_reply),
ts-message.message--focus:not(.standalone):not(.multi_delete_mode):not(.highlight):not(.new_reply),
ts-message:hover:not(.standalone):not(.multi_delete_mode):not(.highlight):not(.new_reply) {
  background: rgba($selection, 0.7);

  .msg_inline_attachment_column.column_border {
    background: $background;
  }
}

.reply_input_container .ql-container {
    border-color: $mine_shaft;
    &.focus,
    &:hover {
        border-color: $mine_shaft;
    }
}

.msg_inline_attachment_column.column_border {
    background: $selection;
}

#threads_msgs a {
  color: $blue;
  &:link,
  &:visited {
    color: $blue;
  }

  &:active,
  &:focus,
  &:hover {
    color: lighten($color: $blue, $amount: 15%);
  }
}

.dark_theme ts-message .message_content .message_sender,
.light_theme ts-message .message_content .message_sender,
ts-thread .thread_header .thread_channel_name a {
    color: $purple !important;
    &:hover {
        color: darken($purple, 20%) !important;
    }
}

#file_reply_container .reply_container_info .reply_broadcast_buttons_container .reply_broadcast_label_container,
#reply_container .reply_container_info .reply_broadcast_buttons_container .reply_broadcast_label_container,
.reply_input_container .reply_container_info .reply_broadcast_buttons_container .reply_broadcast_label_container {
  color: $foreground;
}

#convo_tab .thread_participants,
ts-thread .thread_participants {
  color: $foreground;
}

#threads_msgs_scroller_div .threads_caught_up_divider {
  .divider_label {
      background: $current-line;
      color: $foreground;
  }
  .divider_line {
    border-top: 1px solid $mine_shaft;
  }
}

// Button reactions
.rxn {
  background: $selection;
  border: 1px solid $black;
  color: $foreground;
  &:hover,
  &:focus {
    border-color: $current-line;
  }
  .emoji_rxn_count {
     color: $foreground;
  }
}

// Unread messages
.unread_empty_state {
  color: $foreground;
}
